html {
    background-color: rgb(131, 255, 179);
}

h2 {
    color: rgb(3, 145, 97);
    font-size: 33px;
    font-weight: bold;
    position: relative;
  
}

form {
    color: rgb(3, 145, 97);
    font-size: 25px;
}

.btn input {
    btn.hover{
    background-color: #009420;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;

    margin: 0 15px;
    padding: 10px 35px;

    border: 2px solid #005fb8;
    border-radius: 15px;

    position: relative;
    background-repeat: no-repeat;
    margin-top: 15px;
}
}

input{
    background-color: #ffffff;
}

php{
    color: #ffffff;
}