html {
    background-color: rgb(131, 131, 255);
}

h2 {
    color: aliceblue;
    font-size: 33px;
}

form {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.btn input {

    background-color: #7d108b;
    display: block;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 11px;
    font-weight: bold;
    color: #ffffff;

    margin: 0 15px;
    padding: 10px 35px;

    border: 2px solid #a200b8;

    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 0%;
        height: 0%;

       

        transition: .7ease;
    }

    &::before {
        width: 0;
        height: 100%;
    }

    &:hover {
        &::before {
            width: 100%;
        }
        }
}